<div class="container">
  <div>
    <div class="row h-100">
      <!-- Lado izquierdo -->
      <div class="col-md-8 d-flex flex-column" style="flex: 0 0 65%;">
        <div class="p-4">
          <!-- Título principal -->
          <h1 class="fw-bold">Carta de la Semana</h1>

          <!-- Lista de menús -->
          <ul class="list-unstyled mt-4">
            <li class="mb-4">
              <h3 class="fw-semibold">Menú del día de hoy - 16/12/2024</h3>
              <div class="bg-white p-3 rounded-5 text-secondary shadow mt-2" style="width: 100%;">
                <p class="fw-bold mb-3">Lunes</p>
                <!-- Subcontenedores en fila -->
                <div class="d-flex justify-content-between">
                  <!-- Menú vegetariano -->
                  <div class="p-3 bg-light rounded shadow text-center" style="width: 30%;">
                    <h5 class="fw-semibold">Menú vegetariano</h5>
                    <p class="mb-0">Deliciosas opciones vegetarianas para disfrutar.</p>
                    <br>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-outline-success me-3">
                        <i class="bi bi-cart-fill"></i>
                      </button>

                    </div>
                  </div>
                  <!-- Menú no vegetariano -->
                  <div class="p-3 bg-light rounded shadow text-center" style="width: 30%;">
                    <h5 class="fw-semibold">Menú no vegetariano</h5>
                    <p class="mb-0">Sabrosos platos con opciones de carne.</p>
                    <br>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-outline-success me-3">
                        <i class="bi bi-cart-fill"></i>
                      </button>

                    </div>
                  </div>
                  <!-- Comida X -->
                  <div class="p-3 bg-light rounded shadow text-center" style="width: 30%;">
                    <h5 class="fw-semibold">Comida X</h5>
                    <p class="mb-0">Especialidades seleccionadas para el día.</p>
                    <br>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-outline-success me-3">
                        <i class="bi bi-cart-fill"></i>
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </li>

            <!-- Menú del martes -->
            <li class="mb-4">
              <h3 class="fw-semibold">Menú del día de hoy - 17/12/2024</h3>
              <div class="bg-white p-3 rounded-5 text-secondary shadow mt-2" style="width: 100%;">
                <p class="fw-bold mb-3">Martes</p>
                <!-- Subcontenedores en fila -->
                <div class="d-flex justify-content-between">
                  <div class="p-3 bg-light rounded shadow text-center" style="width: 30%;">
                    <h5 class="fw-semibold">Menú vegetariano</h5>
                    <p class="mb-0">Deliciosas opciones vegetarianas para disfrutar.</p>
                    <br>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-outline-success me-3">
                        <i class="bi bi-cart-fill"></i>
                      </button>

                    </div>
                  </div>
                  <div class="p-3 bg-light rounded shadow text-center" style="width: 30%;">
                    <h5 class="fw-semibold">Menú no vegetariano</h5>
                    <p class="mb-0">Sabrosos platos con opciones de carne.</p>
                    <br>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-outline-success me-3">
                        <i class="bi bi-cart-fill"></i>
                      </button>

                    </div>
                  </div>
                  <div class="p-3 bg-light rounded shadow text-center" style="width: 30%;">
                    <h5 class="fw-semibold">Comida X</h5>
                    <p class="mb-0">Especialidades seleccionadas para el día.</p>
                    <br>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-outline-success me-3">
                        <i class="bi bi-cart-fill"></i>
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </li>

            <!-- Replicamos para miércoles, jueves y viernes -->
            <!-- Menú del miércoles -->
            <li class="mb-4">
              <h3 class="fw-semibold">Menú del día de hoy - 18/12/2024</h3>
              <div class="bg-white p-3 rounded-5 text-secondary shadow mt-2" style="width: 100%;">
                <p class="fw-bold mb-3">Miércoles</p>
                <!-- Subcontenedores en fila -->
                <div class="d-flex justify-content-between">
                  <div class="p-3 bg-light rounded shadow text-center" style="width: 30%;">
                    <h5 class="fw-semibold">Menú vegetariano</h5>
                    <p class="mb-0">Deliciosas opciones vegetarianas para disfrutar.</p>
                    <br>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-outline-success me-3">
                        <i class="bi bi-cart-fill"></i>
                      </button>

                    </div>
                  </div>
                  <div class="p-3 bg-light rounded shadow text-center" style="width: 30%;">
                    <h5 class="fw-semibold">Menú no vegetariano</h5>
                    <p class="mb-0">Sabrosos platos con opciones de carne.</p>
                    <br>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-outline-success me-3">
                        <i class="bi bi-cart-fill"></i>
                      </button>

                    </div>
                  </div>
                  <div class="p-3 bg-light rounded shadow text-center" style="width: 30%;">
                    <h5 class="fw-semibold">Comida X</h5>
                    <p class="mb-0">Especialidades seleccionadas para el día.</p>
                    <br>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-outline-success me-3">
                        <i class="bi bi-cart-fill"></i>
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </li>

            <!-- Menú del jueves -->
            <li class="mb-4">
              <h3 class="fw-semibold">Menú del día de hoy - 19/12/2024</h3>
              <div class="bg-white p-3 rounded-5 text-secondary shadow mt-2" style="width: 100%;">
                <p class="mb-0">Jueves</p>
                <!-- Subcontenedores en fila -->
                <div class="d-flex justify-content-between">
                  <!-- Menú vegetariano -->
                  <div class="p-3 bg-light rounded shadow text-center" style="width: 30%;">
                    <h5 class="fw-semibold">Menú vegetariano</h5>
                    <p class="mb-0">Deliciosas opciones vegetarianas para disfrutar.</p>
                    <br>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-outline-success me-3">
                        <i class="bi bi-cart-fill"></i>
                      </button>

                    </div>
                  </div>
                  <!-- Menú no vegetariano -->
                  <div class="p-3 bg-light rounded shadow text-center" style="width: 30%;">
                    <h5 class="fw-semibold">Menú no vegetariano</h5>
                    <p class="mb-0">Sabrosos platos con opciones de carne.</p>
                    <br>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-outline-success me-3">
                        <i class="bi bi-cart-fill"></i>
                      </button>

                    </div>
                  </div>
                  <!-- Comida X -->
                  <div class="p-3 bg-light rounded shadow text-center" style="width: 30%;">
                    <h5 class="fw-semibold">Comida X</h5>
                    <p class="mb-0">Especialidades seleccionadas para el día.</p>
                    <br>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-outline-success me-3">
                        <i class="bi bi-cart-fill"></i>
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </li>

            <!-- Menú del viernes -->
            <li class="mb-4">
              <h3 class="fw-semibold">Menú del día de hoy - 20/12/2024</h3>
              <div class="bg-white p-3 rounded-5 text-secondary shadow mt-2" style="width: 100%;">
                <p class="mb-0">Viernes</p>
                <!-- Subcontenedores en fila -->
                <div class="d-flex justify-content-between">
                  <!-- Menú vegetariano -->
                  <div class="p-3 bg-light rounded shadow text-center" style="width: 30%;">
                    <h5 class="fw-semibold">Menú vegetariano</h5>
                    <p class="mb-0">Deliciosas opciones vegetarianas para disfrutar.</p>
                    <br>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-outline-success me-3">
                        <i class="bi bi-cart-fill"></i>
                      </button>

                    </div>
                  </div>
                  <!-- Menú no vegetariano -->
                  <div class="p-3 bg-light rounded shadow text-center" style="width: 30%;">
                    <h5 class="fw-semibold">Menú no vegetariano</h5>
                    <p class="mb-0">Sabrosos platos con opciones de carne.</p>
                    <br>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-outline-success me-3">
                        <i class="bi bi-cart-fill"></i>
                      </button>

                    </div>
                  </div>
                  <!-- Comida X -->
                  <div class="p-3 bg-light rounded shadow text-center" style="width: 30%;">
                    <h5 class="fw-semibold">Comida X</h5>
                    <p class="mb-0">Especialidades seleccionadas para el día.</p>
                    <br>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-outline-success me-3">
                        <i class="bi bi-cart-fill"></i>
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- Lado derecho (35%) -->
      <div class="col-md-4 d-flex flex-column align-items-center justify-content-start"
        style="flex: 0 0 35%;margin-top: 8.5rem;">
        <div class="right-side bg-light p-5 rounded-5 text-secondary shadow" style="width: 90%;">
          <div class="text-center fs-1 fw-bold">Noticias</div>
          <div class="mt-4">
            <p class="text-center">
              Contenido para el lado derecho. Promociones, novedades, publicidad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>