<nav aria-label="Page navigation" class="mt-5">
  <ul class="pagination justify-content-center" style="cursor: pointer">
    <li class="page-item" [ngClass]="page.hasPrevious ? '' : 'disabled'">
      <a
        (click)="goToNextOrPreviousPage('backward')"
        class="page-link"
        aria-label="Previous"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <ng-container *ngFor="let pageNumber of getPageRange()">
      <li class="page-item" [ngClass]="getPageItemClass(pageNumber)">
        <a
          *ngIf="isNumber(pageNumber)"
          class="page-link"
          (click)="goToPage(pageNumber)"
          [ngClass]="page.page === pageNumber ? 'active' : ''"
        >
          {{ pageNumber + 1 }}
        </a>
        <span *ngIf="!isNumber(pageNumber)" class="page-link disabled">{{
          pageNumber
        }}</span>
      </li>
    </ng-container>
    <li class="page-item" [ngClass]="page.hasNext ? '' : 'disabled'">
      <a
        (click)="goToNextOrPreviousPage('forward')"
        class="page-link"
        aria-label="Next"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
