/* Estilos generales para el footer */
.footer {
    background-color: #8c0011; /* Mismo color que el navbar */
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilos para los enlaces del footer */
.footer a {
    color: white;
    text-decoration: none;
    padding: 0 5px;
}

.footer a:hover {
    text-decoration: underline;
}

/* Contenedor de los enlaces del footer */
.footer-links {
    margin-top: 10px;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 600px) {
    .footer-content {
        font-size: 12px;
    }
}
